:root {
	font-size: 16px; 
	/*This sets the font-size all over the document. Default: 16px;
	You can set all other value relative to this value. I mean, this is the easiest way to 
	changing a whole complex object with changing one value. See bottom the @media block.*/
}

body, html { 
    margin: 0;
    padding: 0;
    /* Must both parameters set when vertical scrollbar appears with min-height: 100vh. */
}

body {
	background-color: hsl(0, 0%, 95%);
	font-family: 'Lexend Deca', sans-serif;
}

main {
	display: flex;
	flex-direction: row;
	height: 96vh;
	justify-content: center;
	align-items: center;
	margin-top: 4vh;
}

main div {
	width: 19.125rem;
	height: 31.25rem;
	font-size: 0.9375rem;
	color: hsla(0, 0%, 100%, 0.75);
	display: flex;
	flex-direction: column;
}

#div-sedan {
	background-color: hsl(31, 77%, 52%);
	border-radius: 0.375rem 0 0 0.375rem;
}

#div-suv {
	background-color: hsl(184, 100%, 22%);
}

#div-luxury {
	background-color: hsl(179, 100%, 13%);
	border-radius: 0 0.375rem 0.375rem 0;
}

div h1 {
	font-family: 'Big Shoulders Display', cursive;
	font-size: 2.5rem;
	text-transform: uppercase;
	margin: 2.2rem 3rem 0 3rem;
	color: hsl(0, 0%, 95%);
}

div p {
	margin: 1.5rem 3rem 0 3rem;
	line-height: 1.6rem;
}

img {
	margin: 3rem 3rem 0 3rem;
	width: 4rem;
}

button {
	margin: 0 3rem 3rem 3rem;
	width: 9.25rem;
	height: 3.4rem;
	background-color: hsl(0, 0%, 95%);
	border: 1px solid hsl(0, 0%, 95%);
	border-radius: 1.7rem;
	font-family: 'Lexend Deca', sans-serif;
	font-size: 0.95rem;
	font-weight: 400;
}

#button-sedan {
	color: hsl(31, 77%, 52%);
}

#button-suv {
	color: hsl(184, 100%, 22%);
}

#button-luxury {
	color: hsl(179, 100%, 13%);
}

#button-sedan:hover {
	background-color: hsl(31, 77%, 52%);
	color: hsl(0, 0%, 95%);
	cursor: pointer;
}

#button-suv:hover {
	background-color: hsl(184, 100%, 22%);
	color: hsl(0, 0%, 95%);
	cursor: pointer;
}

#button-luxury:hover {
	background-color: hsl(179, 100%, 13%);
	color: hsl(0, 0%, 95%);
	cursor: pointer;
}

@media (max-width: 920px) {

	main {
		display: flex;
		flex-direction: column;
	}

	main div {
		width: 20.375rem;
		height: 27.625rem;
	}

	#div-sedan {
		border-radius: 0.375rem 0.375rem 0 0;
	}

	#div-luxury {
		border-radius: 0 0 0.375rem 0.375rem;
	}

}